.frame40{
/* https://cf.bstatic.com/xdata/images/hotel/square200/337255591.webp?k=94fd23f93ccb3de15bda35c1ac58c3dd57560854e08bc8251f6c6b2c7162b338&o=&s=1 */
/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 15px;

min-width: 0;
width: 939px;
/* height: 444px; */


/* Inside auto layout */

/* order: 1; */
/* align-self: stretch; */
}


/* Frame40 Children */
.frame23{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 12px;

min-width: 0;
height: auto;
flex-grow: 1;

border: 1px solid #000000;
border-radius: 9px;

/* Inside auto layout */

/* flex: none; */
align-self: stretch;
}



/* frame23 Children */
.hotelImage{
min-width: 0;
width: 192px;
height: 191px;

border-radius: 19px;
background-image: url(https://cf.bstatic.com/xdata/images/hotel/square200/337255591.webp?k=94fd23f93ccb3de15bda35c1ac58c3dd57560854e08bc8251f6c6b2c7162b338&o=&s=1);
}

.frame39{
/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-end;
padding: 22px 0px;
gap: 10px;

min-width: 0;
width: 699px;
/* height: 196.5px; */


/* Inside auto layout */

align-self: stretch;
/* /* flex: none; */
/* order: 1;
flex-grow: 1;  */
}




/* frame39 Children */
.frame38{
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

min-width: 0;
width: 516px;
/* height: 152.5px; */


/* Inside auto layout */

align-self: stretch;
/* flex: none;
order: 0;
flex-grow: 1;  */

/* Inner Text */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
display: flex;
/* align-items: center; */

color: #000000;
}

.frame37{
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 10px;

min-width: 0;
width: 160px;
/* height: 78px; */


/* Inside auto layout */

/* flex: none;
order: 1;
flex-grow: 0; */

/* InnerText */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}


