.wrapper{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #0000006b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame52 {
  position: fixed;
  background-color: white;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 39px 28px;
  gap: 20px;
  min-width: 0;
  width: 492px;
  /* height: 550px; */

  border: 3px solid #000000;
  border-radius: 32px;
}

/* frame 52 Children */
.selectText {
  /* Select your rooms: */

  /* width: 436px; */
  /* height: 34px; */

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  /* display: flex;
  align-items: center; */
  text-align: center;

  color: #000000;

  /* Inside auto layout */
  /* 
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0; */
}

.frame56 {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 22px;

  /* width: 436px; */
  /* height: 53px; */

  /* Inside auto layout */
  align-self: stretch;
}

/* Room Children */
.frame53 {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
    min-width: 0;
  width: 346px;
  /* height: 53px; */
    align-self: stretch;
}

.frame54 {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 4px;

  width: 23px;
  height: 38px;
}

/* frame53 children */
.KingText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  /* display: flex;
  align-items: center; */

  color: #000000;

  /* Inside auto layout */

  align-self: stretch;
}
.KingSizeText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.045em;

  color: #000000;
}

.roomNum {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* display: flex;
  align-items: center;
  text-align: center; */
  letter-spacing: -0.045em;

  color: #000000;
}
.frame50 {
  box-sizing: border-box;

  width: 19px;
  height: 17px;

  border: 2px solid #000000;
}
